body{
    background-color: rgb(186, 187, 219);
}
.field{
    height: fit-content;
    width: fit-content;
    padding-left: 30%;
    padding-top: 15%;
    width: fit-content;
}
fieldset{
    border-style: groove;
    border-radius: 30px;
    border-color: black;
    display: inline-block;
}
legend{
    font-style: italic;
    font-size: 30px;
}
img{
    height: 25px;
    width: 125px;
}
.fah{
    font-size: 30px;
    padding-right: 20px; 
}
.cel{
    font-size: 30px;
    padding-left: 20px;
}
.incel{
    width: 100px;
}
.box1{
    padding-top: 10px;
}
.box2{
    padding-top: 10px;
    padding-left:62%;

}
.button{
    padding-top: 10px;
    padding-left: 50%;
}
.reset{
    padding-top: 10px;
    padding-left: 50%;
}
.convert{
    background-color: rgb(114, 93, 93);
    font-size: 20px;
}
.reset1{
    background-color: rgb(114, 93, 93);
    font-size: 20px;
}
